/* Use Google Web Fonts */
@import url(http://fonts.googleapis.com/css?family=Gentium+Basic|Gentium+Book+Basic:400,400italic|Merriweather:400,400italic,700|Droid+Sans+Mono);

@displayFont: "Gentium Basic", Georgia, serif;
@bodyFont   : "Merriweather", Georgia, serif;
@altFont    : "Gentium Book Basic", Georgia, serif;
@monoFont   : "Droid Sans Mono", Monaco, monospace;

@nameKerning: 0.5em;

@dateRangeFont  : @bodyFont;
@dateRangeStyle : italic;
@dateRangeWeight: 400;

@sectionHeaderFont  : @altFont;
@sectionHeaderStyle : normal;
@sectionHeaderWeight: 400;

@itemTitleWeight: 400;

@linkBaseColor  : #0077ff;
@linkHoverColor : #0900b5;
@linkActiveColor: #0cf2f2;
@linkFocusColor : @linkActiveColor;

@linkBaseDecoration  : none;
@linkHoverDecoration : underline;
@linkActiveDecoration: underline;
@linkFocusDecoration : underline;

/* Hacky way to prevent navbar from obscuring headers when jumping to # anchor */
section {
  padding-top: 40px;
  margin-top : -40px;
}

body {
  /* space for the navbar */
  // margin-top     : 60px
  font-family: 'Merriweather', Georgia, serif;
  -webkit-transition: 0.1s ease;
  -moz-transition   : 0.1s ease;
  -o-transition     : 0.1s ease;
  transition        : 0.1s ease;
}

h2 {
  margin-top   : 0px;
  margin-bottom: 0px;
  font-family  : @sectionHeaderFont;
  font-style   : @sectionHeaderStyle;
  font-weight  : @sectionHeaderWeight;
}

h4 {
  font-weight :@itemTitleWeight;
}

ul {
  margin-bottom: 0;
}

a {
  color             : @linkBaseColor;
  text-decoration   : @linkBaseDecoration;
  -webkit-transition: 0.5s ease;
  -moz-transition   : 0.5s ease;
  -o-transition     : 0.5s ease;
  transition        : 0.5s ease;
  &:link {}
  &:visited {}
  &:focus {
    color          : @linkFocusColor;
    text-decoration: @linkFocusDecoration;
  }
  &:hover {
    color          : @linkHoverColor;
    text-decoration: @linkHoverDecoration;
  }
  &:active {
    color             : @linkActiveColor;
    text-decoration   : @linkActiveDecoration;
    -webkit-transition: 0.1s ease;
    -moz-transition   : 0.1s ease;
    -o-transition     : 0.1s ease;
    transition        : 0.1s ease;
  }
}

address {
  font-size    : 18px;
  line-height  : 1.5em;
  margin-bottom: 2em;
}

.center {
  text-align: center;
}

.mono-font {
  font-family: @monoFont;
}

.display-name {
  font-family   : @displayFont;
  font-size     : 50px;
  letter-spacing: @nameKerning;
  padding       : 10px 0px;
  margin-right  : -@nameKerning;
  margin-bottom : 60px;
  margin-top    : 60px;
  line-height   : 1.2em;
}

.page-header {
  margin-bottom: 30px;
  margin-top   : 20px;
}

.resume-item {
  .title-row {
    margin-top   : 0px;
    margin-bottom: 3px;
    font-weight :@itemTitleWeight;
  }
  .title {
    font-weight :@itemTitleWeight;
  }
  .place {
    margin: 0;
  }
  .date /* when viewport is large, italicize date ranges and use different font */ {
    font-family: @dateRangeFont;
    font-style : @dateRangeStyle;
    font-weight: @dateRangeWeight;
  }
  .subtitle {
    font-style: italic;
  }
  .subtitle, .project {
    margin-bottom: 40px;
  }
  .blob {
    padding-top: 10px;
  }
}

/* TODO: finish fancy border hover effects with jQuery
 * a.img {
 *   display              : inline-block
 *   -webkit-box-sizing   : border-box
 *   -moz-box-sizing      : border-box
 *   box-sizing           : border-box
 *   width                : 100px
 *   height               : 100px
 *   -webkit-border-radius: 50px
 *   -moz-border-radius   : 50px
 *   border-radius        : 5px
 *   border-width         : 50px
 *   border-color         : rgba(0,0,0,0)
 *   border-style         : dashed
 *   &:link
 *   &:visited
 *   &:focus
 *     text-decoration: none
 *   &:hover
 *     text-decoration: none
 *     border-width   : 0
 *     border-color   : rgba(0,0,0,0.5)
 *   &:active
 *     color: #0CF2F2
 *     -webkit-transition: 0.1s ease
 *     -moz-transition   : 0.1s ease
 *     -o-transition     : 0.1s ease
 *     transition        : 0.1s ease
 * } */

