@import url('http://fonts.googleapis.com/css?family=Inconsolata|Open+Sans:300,400,700|Varela+Round:400');
section {
  padding-top: 40px;
  margin-top: -40px;
}
body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16pt;
  line-height: 100%;
  transition: 0.1s ease;
}
ul li {
  line-height: 140%;
}
h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
}
h4 {
  margin: 0;
  font-size: 120%;
  font-weight: 400;
}
h4 .badge {
  margin-left: 10px;
  padding: 5px 9px 3px 9px;
}
footer {
  color: #999;
}
footer a {
  color: #999;
}
footer a:hover,
footer a:focus {
  color: #000000;
}
footer a:active {
  color: #999999;
}
ul {
  margin-bottom: 0;
}
a {
  position: relative;
  color: #000000;
  text-decoration: none;
  transition: 0.3s ease;
}
a:focus {
  color: #000000;
  text-decoration: none;
}
a:hover {
  color: #999999;
  text-decoration: none;
}
a:active {
  color: #000000;
  text-decoration: none;
}
@media screen and (min-width: 481px) {
  a:after {
    border-bottom: 1px dotted #19a1e6;
    bottom: 1px;
    content: '';
    height: 0;
    left: 0;
    position: absolute;
    right: 0;
  }
}
@media screen and (max-width: 480px) {
  a {
    text-decoration: underline;
  }
  a:hover {
    color: #999999;
    text-decoration: underline;
  }
}
.social-media {
  margin-top: 30px;
}
.social-media img {
  opacity: 0.6;
  width: 64px;
  height: 64px;
}
@media screen and (min-width: 480px) {
  .social-media img {
    margin: 0 9px;
  }
}
@media screen and (max-width: 480px) {
  .social-media img {
    margin: 0 2px;
    height: 48px;
    width: 48px;
  }
}
.social-media a:after {
  display: none!important;
}
.social-media a:hover {
  opacity: 0.5;
}
address {
  font-size: 100%;
  line-height: 1.5em;
  margin-bottom: 2em;
}
.center {
  text-align: center;
}
.sans-font {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}
.mono-font {
  font-family: 'Inconsolata', 'Monaco', monospace;
}
.display-name {
  text-transform: uppercase;
  color: #000;
  font-family: 'Varela Round', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 50px;
  letter-spacing: 0.5em;
  padding: 10px 0px;
  margin-right: -0.5em;
  margin-bottom: 15px;
  margin-top: 30px;
  line-height: 1.2em;
}
@media screen and (max-width: 480px) {
  .display-name {
    font-size: 40px;
  }
}
.page-header {
  margin-bottom: 30px;
  margin-top: 20px;
  padding-bottom: 5px;
}
@media screen and (max-width: 480px) {
  .page-header h2 {
    font-size: 190%;
    line-height: 110%;
  }
}
.resume-item {
  margin-bottom: 30px;
}
.resume-item .title-row {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 400;
}
.resume-item .title {
  font-weight: 400;
  font-size: 120%;
  margin-bottom: 10px;
}
.resume-item .place {
  font-weight: 300;
  margin: 0;
}
.resume-item .date {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
  font-style: italic;
  font-weight: 300;
}
.resume-item .label {
  margin: 0 15px;
  padding: 4px 4px 2px 4px;
  font-weight: normal;
  font-style: normal;
}
.resume-item .date.label {
  margin: 5px 0;
}
.resume-item .label.visible-phone {
  margin: 5px 0;
}
.resume-item .subtitle-row,
.resume-item .place-row {
  margin-top: 7px;
  margin-bottom: 10px;
}
.resume-item .subtitle {
  font-style: italic;
  font-weight: 400;
}
.resume-item .desc-row .span12,
.resume-item .desc-row .span8,
.resume-item .desc-row .span4 {
  margin-right: 0;
  margin-top: 7px;
}
.resume-item .desc-row .span12 .hidden-phone,
.resume-item .desc-row .span8 .hidden-phone,
.resume-item .desc-row .span4 .hidden-phone {
  margin-left: 30px;
}
.skillbar .skillbar-title.hidden-phone {
  text-align: right;
}
.skillbar .skillbar-title.visible-phone {
  text-align: center;
}
.skillbar .label {
  margin-bottom: 10px;
}
.skillbar .progress {
  height: 22px;
  margin-bottom: 25px;
}
@media screen {
  #skillbars-print {
    display: none;
  }
}
code {
  color: #333333;
}
@media print {
  li {
    margin-left: 20px;
  }
  h2 {
    font-size: 160%;
  }
  h4 {
    font-size: 120%;
  }
  body {
    font-size: 12px;
  }
  address {
    font-size: 100%;
  }
  .display-name {
    margin: 25px 0!important;
    font-size: 200%;
  }
  .date {
    float: left;
  }
  .place {
    font-weight: 300;
    margin: 0;
  }
  .date {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
    font-style: italic;
    font-weight: 300;
  }
  .label {
    margin: 0 15px;
    padding: 4px 4px 2px 4px;
    font-weight: normal;
    font-style: normal;
  }
  .date.label {
    margin: 5px 0;
  }
  .label.visible-phone {
    margin: 5px 0;
  }
  .subtitle-row,
  .lace {
    float: right;
  }
  span.visible-phone.label.label-info,
  span.visible-phone.label.date {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    font-size: 100%;
  }
  .social-media {
    display: none !important;
  }
  #skillbars {
    display: none !important;
  }
  #skillbars-print {
    display: block!important;
    line-height: 2;
  }
  a:link:after,
  a:visited:after {
    display: none !important;
  }
}
